<div class="bottom-panel vert-resizable top-resizer row" id="mainPanel">
    <input type="button" id="close" value="close">
    <div class="entries col-sm-8">
        <table>
            <thead id="colone">
            </thead>
            <tbody id="entree">
            </tbody>
        </table>
    </div>
    <div class="settings col-sm-1">
        <label>Adress:</label>
        <input type="text" name="adress" id="hostInput">
        <label>Port:</label>
        <input type="number" name="port" id="portInput">
        <label>User:</label>
        <input type="text" name="user" id="userInput">
        <label>Password:</label>
        <input type="text" name="password" id="passInput">
        <label>Database:</label>
        <input type="text" name="dbname" id="dbInput">
        <div>
            <input type="button" value="Connect" id="connect">
            <select class="hidden" id="selecttable"></select>
        </div>

    </div>
</div>
